.header {
    height: 500px;
    background-color: #ededed;
}

.header-image {
    width: 250px;
    padding-top: 75px;
}

.grid-item {
    max-width: 300px;
}

.grid-item-css img {
    max-height: 300px;
}

.footer-style {
    background-color: #ededed;
}

#modalImg:hover {
    cursor: pointer;
}

.about-section {
    min-height: 400px;
    background-color: rgba(210, 229, 244, 0.5)
}

.send-button button {
    padding: 15px 20px !important;
}
